<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body class="blog">
    <nav class="text-right">
        <a class="mr-20" href="/">Home</a>
        <a class="mr-20" href="/blog">Blog</a>
        <a class="mr-20" href="/about">About</a>
    </nav>

    <div class="blog-detail mt-20">
        <a class="fr" href="javascript: window.history.go(-1);"><i class="ico ico-return"></i>返回</a>
    </div>

    <div class="markdown-body">

    {{{body}}}
    </div>

</body>
</html>