@import '../../components/common/common.scss';
@import '../../components/common/markdown.css';
@import '../../components/common/code-github-style.css';

.blog{
    width: 1000px;
    margin:auto;

    a{
        color: gray;
    }
}

nav{
    height: 49px;
    border-bottom: 1px solid #dedede;
    line-height: 49px;
}

.blog-list{
    ul{
        list-style: none;
    }

    li a{
        width: 100%;
    }
}