<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body class="blog">
    <nav class="text-right">
        <a class="mr-20" href="/">Home</a>
        <a class="mr-20" href="/blog">Blog</a>
        <a class="mr-20" href="/about">About</a>
    </nav>

    <div class="blog-list mt-20">
        <ul>
            {{#each this}}
            <li class="mt-15"> <a href="/blog/{{id}}" class="inline-block"> xxxx <span class="fr">{{mtime}}</span></a> </li>
            {{/each}}
        </ul> <span class="fr"></span>
    </div>

</body>
</html>