<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Admin</title>
</head>
<body>
    <h1>Blog Manager</h1>
    <table>
        <thead>
            <th>title</th>
            <th>operation</th>
        </thead>
        <tbody id="tbody">
            
        </tbody>
        
    </table>

    <div class="h-center page-wrap">
            <a class="cur-pointer prev page" value="-1"> prev </a>
            <a class="cur-pointer next page" value="+1"> next </a>
        </div>
</body>
</html>