@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #fafbfc; }

a {
  text-decoration: none; }

/*
	$description: space 0px 5px 10px 15px 20px 25px
	$className: m-0, m-5, m-10, m-15, m-20, m-25, m-30
				mt-0, mt-5, mt-10, mt-15, mt-20, mt-25, mt-30
				mb-0, mb-5, mb-10, mb-15, mb-20, mb-25, mb-30
				ml-0, ml-5, ml-10, ml-15, ml-20, ml-25, ml-30
				mr-0, mr-5, mr-10, mr-15, mr-20, mr-25, mr-30
				p-0, p-5, p-10, p-15, p-20, p-25, p-30
				pt-0, pt-5, pt-10, pt-15, pt-20, pt-25, pt-30
				pb-0, pb-5, pb-10, pb-15, pb-20, pb-25, pb-30
				pl-0, pl-5, pl-10, pl-15, pl-20, pl-25, pl-30
				pr-0, pr-5, pr-10, pr-15, pr-20, pr-25, pr-30
*/
.m-0 {
  margin: 0px; }

.p-0 {
  padding: 0px; }

.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mr-0 {
  margin-right: 0px; }

.pt-0 {
  padding-top: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pl-0 {
  padding-left: 0px; }

.pr-0 {
  padding-right: 0px; }

.m-5 {
  margin: 5px; }

.p-5 {
  padding: 5px; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.mr-5 {
  margin-right: 5px; }

.pt-5 {
  padding-top: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.pr-5 {
  padding-right: 5px; }

.m-10 {
  margin: 10px; }

.p-10 {
  padding: 10px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pr-10 {
  padding-right: 10px; }

.m-15 {
  margin: 15px; }

.p-15 {
  padding: 15px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.mr-15 {
  margin-right: 15px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.pr-15 {
  padding-right: 15px; }

.m-20 {
  margin: 20px; }

.p-20 {
  padding: 20px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.pr-20 {
  padding-right: 20px; }

.m-25 {
  margin: 25px; }

.p-25 {
  padding: 25px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.mr-25 {
  margin-right: 25px; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-25 {
  padding-left: 25px; }

.pr-25 {
  padding-right: 25px; }

.m-30 {
  margin: 30px; }

.p-30 {
  padding: 30px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-30 {
  padding-left: 30px; }

.pr-30 {
  padding-right: 30px; }

.m-35 {
  margin: 35px; }

.p-35 {
  padding: 35px; }

.mt-35 {
  margin-top: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.mr-35 {
  margin-right: 35px; }

.pt-35 {
  padding-top: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pl-35 {
  padding-left: 35px; }

.pr-35 {
  padding-right: 35px; }

.m-40 {
  margin: 40px; }

.p-40 {
  padding: 40px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pl-40 {
  padding-left: 40px; }

.pr-40 {
  padding-right: 40px; }

.fl {
  float: left; }

.fr {
  float: right; }

/*
	$description: 垂直对齐
	$className: v-middle, v-baseline, v-top, v-text-top, v-text-bottom
*/
.v-middle {
  vertical-align: middle; }

.v-baseline {
  vertical-align: baseline; }

.v-top {
  vertical-align: top; }

.v-text-top {
  vertical-align: text-top; }

.v-text-bottom {
  vertical-align: text-bottom; }

/*
	$description: 水平对齐
	$className: h-center, h-left, h-right
*/
.h-center {
  text-align: center; }

.h-left {
  text-align: left; }

.h-right {
  text-align: right; }

/*
	$description: display
	$className: inline-block, inline, block, none
*/
.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.block {
  display: block; }

.none {
  display: none; }

.visible {
  visibility: hidden; }

/*
	$description: position
	$className: pos-relative, pos-absolute, pos-fixed, pos-static
*/
.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.pos-fixed {
  position: fixed; }

.pos-static {
  position: static; }

/*
	$description: position
	$className: pos-relative, pos-absolute, pos-fixed, pos-static
*/
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/* 鼠标手势 */
.cur-default {
  cursor: default !important; }

.cur-pointer {
  cursor: pointer; }

/*为开放注册账号隐藏功能所加样式*/
.always-hide {
  display: none !important; }

.always-invisibility {
  visibility: hidden !important; }

.home {
  overflow: hidden; }
  .home .content {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
  .home .logo {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: url(http://127.0.0.1:3000/static/img/logo.8f5c585.jpeg) no-repeat center; }
  .home nav {
    width: 100%; }
  .home a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px; }
