<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        .content{
            width: 280px;
        }

        .login-form label{
            width: 90px;
        }
    </style>
</head>

<body class="home">
    <div class="content">

        <form method="POST" action="/login" class="login-form">
            <div class="mt-10">
                <label for="username" class="text-right"> username: </label>
                <input type="text" name="username">
            </div>
            <div class="mt-10">
                <label for="password" class="text-right"> password: </label>
                <input type="password" name="password">
            </div>
            <div class="mt-10">

                <input type="submit" value="login">

            </div>

        </form>
    </div>
</body>

</html>